/// @param {Keyword | Angle} $direction - Linear gradient direction

@mixin linear-gradient($type) {

    $color-stops: null;
    $direction: 45deg;

    @if ($type==1) {
        $color-stops: $gradient-1;
    }

    @else if ($type==2) {
        $color-stops: $gradient-2;
    }

    background: -webkit-linear-gradient(legacy-direction($direction), $color-stops);
    background: linear-gradient($direction, $color-stops);
}


.im-gradient-1 {
    @include linear-gradient(1);
}

.im-gradient-2 {
    @include linear-gradient(2);
}