// All Text mixins
@mixin body-1 {
    font: {
        weight: $semibold-weight;
        size: 15px;
    }

    line-height: 20px;
}

@mixin body-2 {
    font: {
        weight: $semibold-weight;
        size: 13px;
    }

    line-height: 18px;
}

@mixin caption-1 {
    font: {
        weight: $semibold-weight;
        size: 12px;
    }

    line-height: 16px;
}

@mixin caption-2 {
    font: {
        weight: $regular-weight;
        size: 11px;
    }

    line-height: 13px;
}

@mixin small{
    font: {
        weight: $regular-weight;
        size: 11px;
    }

    line-height: 13px;
}

@mixin btn-1 {
    font: {
        weight: $semibold-weight;
        size: 17px;
    }

    line-height: 20px;
}

@mixin btn-2 {
    font: {
        weight: $semibold-weight;
        size: 13px;
    }

    line-height: 22px;
}


@mixin im-heading-1 {
    font: {
        weight: $regular-weight;
        size: 34px;
    }

    line-height: 40px;
}

@mixin im-heading-2 {
    font: {
        weight: $regular-weight;
        size: 22px;
    }

    line-height: 28px;
}

@mixin im-heading-3 {
    font: {
        weight: $regular-weight;
        size: 17px;
    }

    line-height: 22px;
}

@mixin im-heading-4 {
    font: {
        weight: $regular-weight;
        size: 15px;
    }

    line-height: 20px;
}

@mixin text-truncate() {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@mixin text-hide() {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}