.btn {
    @extend .btn;

    &:focus {
        @extend .remove-focus;
    }
}

.im-btn {
    @extend .btn;
    @include btn-2;
    color: $white;
    border-radius: 0.5rem !important;

    &-sm {
        @extend .btn-sm;
        padding: .15rem .5rem !important;
        font-size: .75rem;
        line-height: 1.2;
    }

    &-lg {
        @extend .px-5;
    }

    &-md {
        @extend .px-3;
    }

    &-primary {
        background-color: $im-primary;
        border: 1.5px solid $im-primary;

        &:hover {
            color: $white;
            filter: opacity(85%);
        }
    }

    &-secondary {
        background-color: $im-secondary;
        border: 1.5px solid $im-secondary;

        &:hover {
            color: $white;
            filter: opacity(85%);
        }
    }

    &-light {
        background-color: $im-light;
        color: $font-color;

        &:hover {
            color: lighten($color:$font-color, $amount: 25%)
        }
    }

    &-dark {
        background-color: $im-dark;
        border: 1.5px solid $im-dark;

        &:hover {
            color: $white;
            filter: opacity(85%);
        }
    }

    &-gray {
        background-color: $im-gray;
        border: 1.5px solid $im-gray;

        &:hover {
            color: $white;
            filter: opacity(85%);
        }
    }

    &-white {
        background-color: $white;
        color: $font-color;
        border: 1.5px solid $border-color;

        &:hover {
            color: lighten($color:$font-color, $amount: 25%)
        }
    }

    &-danger {
        background-color: $im-danger;
        color: $font-color;
        font-weight: bold;

        &:hover {
            filter: opacity(85%);
        }
    }
}

.im-btn-outline {

    &-primary {
        color: $im-primary;
        border: 1.5px solid $im-primary;

        &:hover {
            background-color: $im-primary;
            color: $white !important;
        }
    }

    &-secondary {
        color: $im-secondary;
        border: 1.5px solid $im-secondary;

        &:hover {
            background-color: $im-secondary;
            color: $white !important;
        }
    }

    &-light {
        color: $im-dark;
        border: 1.5px solid $im-light;

        &:hover {
            background-color: $im-light;
            color: $white !important;
        }
    }

    &-dark {
        color: $im-dark;
        border: 1.5px solid $im-dark;

        &:hover {
            background-color: $im-dark;
            color: $white !important;
        }
    }

    &-gray {
        color: $im-gray;
        border: 1.5px solid $im-gray;

        &:hover {
            background-color: $im-gray;
            color: $white !important;
        }
    }
}

.im-btn-disabled {
    @extend .im-disabled;
    color: $font-color;
    background-color: $gainsboro-gray;
}

.im-btn-disabled-light {
    @extend .im-btn-disabled;
    background-color: $smoke-gray;
}

.im-btn-disabled-outline {
    @extend .im-btn;
    @extend .im-btn-disabled;
    border: 2px solid $mischka-gray;
    background-color: inherit;
    $font-color: $mischka-gray;
    color: $font-color;

    &:hover {
        color: $font-color;
    }
}

.im-btn-search {
    @extend .btn-link;
    @extend .btn;

    &:focus {
        @extend .remove-focus;
    }
}

.im-btn-with-icon {
    @extend .px-2;

}