.btn {
    @extend .btn;

    &:focus {
        @extend .remove-focus;
    }
}

.im-btn {
    @extend .btn;
    @include btn-2;
    color: $white;
    border-radius: 0.5rem !important;

    &-sm{
        @extend .btn-sm;
        padding: .15rem .5rem !important;
        font-size: .75rem;
        line-height: 1.2;
    }

    &-primary {
        background-color: $im-primary;
    }

    &-secondary {
        background-color: $im-secondary;
    }

    &-light {
        background-color: $im-light;
        color: $font-color;

        &:hover {
            color: lighten($color:$font-color, $amount: 25%)
        }
    }

    &-white {
        background-color: $white;
        color: $font-color;
        border: 1px solid $border-color;

        &:hover {
            color: lighten($color:$font-color, $amount: 25%)
        }
    }
}

.im-btn-outline {
    @extend .im-btn;
    border: 2px solid $im-primary;
    color: $summer-sky-blue;

    &:hover {
        @extend .im-btn-primary;
        color: $white;
    }
}

.im-btn-disabled {
    @extend .im-disabled;
    color: $font-color;
    background-color: $gainsboro-gray;
}

.im-btn-disabled-light {
    @extend .im-btn-disabled;
    background-color: $smoke-gray;
}

.im-btn-disabled-outline {
    @extend .im-btn;
    @extend .im-btn-disabled;
    border: 2px solid $mischka-gray;
    background-color: inherit;
    $font-color: $mischka-gray;
    color: $font-color;
    
    &:hover {
        color: $font-color;
    }
}

.im-btn-search {
    @extend .btn-link;
    @extend .btn;

    &:focus {
        @extend .remove-focus;
    }
}