// Fonts

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');

$sans-pro: "Source Sans Pro",
sans-serif;

$light-weight: 300;
$regular-weight: 400;
$semibold-weight: 600;
$bold-weight: 700;