.im-input {
    @extend .form-control;

    font-family: $sans-pro;
    border: 1.5px solid $mischka-gray;
    border-radius: $radius;
    height: $input-height;
    font-size: $input-font-size;
}

.im-input:disabled,
.im-input[disabled] {
    background-color: $gainsboro-gray;
    opacity: 1;
}