$to-right: 45deg;
$to-left: 45deg;

// Text Colors
$info-color: $denim-blue;
$success-color: $pastel-green;
$warning-color: $golden-tainoi;
$danger-color:$salmon-red;

$im-primary: $denim-blue !important;
$im-secondary: $cerulean-blue !important;
$im-success: $success-color !important;
$im-info: $info-color !important;
$im-warning: $warning-color !important;
$im-danger: $danger-color !important;
$im-light: $gainsboro-gray !important;
$im-dark: $black-rock !important; 
$im-gray: $slate-gray !important;

$theme-colors: (
    "primary": #158FC4,
    "secondary": #0077A3,
    "success": #86D87F,
    "info": #158FC4,
    "warning": #FEBC54,
    "danger": #FD747C,
    "light": #DEDEDE,
    "dark": #2F3440,
);

$font-color: $black-rock;
$font-color-light: $smoke-gray;
$font-color-gray: $slate-gray;
$font-family-base: $sans-pro;
// $body-color: $white;

$radius: 0.4rem;
$border-color: $mischka-gray;

$pl: 2rem;
$pr: $pl;
$pb: 0.5rem;
$pt: $pb;

// Form Controls
$input-height: 45px;
$input-font-size: 13px;

$custom-checkbox-indicator-icon-checked: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='#{$im-primary}' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E"), "#", "%23") !default;

// Breadcrumb
$breadcrumb-divider: quote(">");
$breadcrumb-item-padding: 5px;
$breadcrumb-active-color: $im-dark;
